.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 40px;*/
}

.App-header {
  background-color: #292929;
  height: 40px;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table;
}
.App-header-inner {
  height: 100%;
  display: table-cell;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
#logout {
  vertical-align: middle;
  text-align: right;
  color: #0999FF;
  margin-left: 50%;
}

.App-Content {
  padding: 1em;
  width: 75%;
}

.App-Width {
  width: 75%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
