.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 40px;*/
}

.App-header {
  background-color: #292929;
  height: 40px;
  padding: 0px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.App-Content {
  padding: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
